<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="../../assets/burger5.jpg" alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Light mask</h3>
        <p>First text</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="../../assets/hotdog.jpg" alt="Second slide">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Strong mask</h3>
        <p>Secondary text</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="../../assets/jennifer-pallian-585x585.jpg" alt="Third slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Slight mask</h3>
        <p>Third text</p>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
<div class="jumbotron">
  <h1>Welcome to Foodholic !</h1>
  <p>
    The cuisine paradise for every age have just focus in one place !
  </p>
</div>
<!-- <p>Lorem ipsum dolor sit amet, id qui liber saepe, eam ne doctus utamur periculis. Ex mel fierent vituperatoribus. Idque sonet
  his te. Eu mei dolorem instructior. a Nobis moderatius est eu, sed in summo regione, ut omnes vivendo pro. Id eam decore
  quaeque. Nam cu facer dicam, ex ignota eirmod splendide vix. Eum mutat audire appellantur eu, ea sed sumo atomorum assueverit,
  an choro omnium nostrum eam. Duo eu paulo postea ornatus. Eius fabellas reprimique vel in. Eum tation fabulas scripserit
  no, pro lorem imperdiet liberavisse no. Eam veri ignota veritus te, solum elitr ut ius. Cu vis choro sapientem omittantur,
  ex nullam graeci mollis mea. Eruditi apeirian cu his. Id quo mundi phaedrum maiestatis, vis porro atqui audire ea. Equidem
  ceteros moderatius et his, at has albucius detraxit. Doming civibus complectitur eu vel, has et graeci inermis volumus,
  cum dictas molestiae ad. Eum natum facer expetendis ex. Eu usu augue efficiendi comprehensam. Justo urbanitas ad pro, mutat
  alienum vix et. In audiam quaestio sea, ei sit lobortis contentiones. Vix ei quem brute indoctum, agam tractatos te vix,
  possit voluptua vis ad. Mea denique singulis hendrerit ne, ex qui labore perpetua principes. Eu habeo ancillae officiis
  qui. Autem dissentiunt ex eam, stet argumentum eam ne. Cum an quis nihil platonem, consul delicatissimi te ius, ad option
  commune delicatissimi his. Audire verterem dissentiet an ius. Est in iudico mollis perfecto, per te alia elit solum, mundi
  deleniti quaerendum ex has. Vix sint regione antiopam id. Ad eum reprimique philosophia definitiones. Eu elit integre pro.
  Et vix nobis delicatissimi, ut primis aliquip qui, eos odio quas cetero ex. Altera reprimique no ius. Per putant scriptorem
  disputationi in, has ad aliquip vivendo consulatu. Alii populo semper sea te, est dolorum vivendo tincidunt ei, sed legere
  viderer albucius in. Modo augue molestiae cum et, his esse dolor interesset an, dolore recteque pertinacia et qui. Nec
  sint mundi adipiscing ad. Pri cibo etiam epicuri et, corpora splendide eu his, vel no libris sensibus. Ex regione feugiat
  sententiae est, et viris omnium eos, cu zril recusabo expetenda vel. Nam augue summo expetendis ea, cu errem alterum definitiones
  usu. Odio eius tacimates mel eu, an mea eius omittam temporibus. An duo aeque omittam voluptatibus, aliquid intellegam
  ullamcorper vim no. Vocent vituperata his et, ut nec commune persecuti intellegam. Vis novum vitae iudicabit eu, at graece
  nonumes persequeris eam. Pri aperiri deleniti fabellas in. Tale numquam cum ex, dicunt nostrum ut vix. Nec eu liber essent
  sanctus, cu elitr iisque ius. Ea nihil oratio pri, at iriure menandri convenire eos. Aeterno assentior te nec.</p> -->
<div class="row">
  <div class="col-sm-6">
    <div id="card-food-item" class="card">
      <img class="card-img-top" src="../../assets/photo-1504185945330-7a3ca1380535.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div id="card-food-item" class="card">
      <img class="card-img-top" src="../../assets/photo-1511688878353-3a2f5be94cd7.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div id="card-food-item" class="card">
      <img class="card-img-top" src="../../assets/photo-1511690656952-34342bb7c2f2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div id="card-food-item" class="card">
      <img class="card-img-top" src="../../assets/photo-1532980400857-e8d9d275d858.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>