
<div class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a id="big-logo" class="navbar-brand" href="/">Foodholic</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>        

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul id="menu-top" class="navbar-nav  bg-dark text-white">
            <li id="menu-item" class="nav-item nav-link active" href="#">Home</li>
            <li id="menu-item" class="nav-item nav-link" href="#">About</li>
            <li id="menu-item" class="nav-item nav-link" href="#">Secvices</li>
            <li id="menu-item" class="nav-item nav-link" href="#">Contact</li>
        </ul>
        </div>
    </div>