<app-layout>
  <div class="row">
      <div class="col-sm-12">
          <ul id="navbar-center" class="nav bg-light justify-content-center">
              <li class="nav-item">
                <a class="nav-link" href="#">JUNK FOOD</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">DRINKS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">BAKERY</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">FRUIT</a>
              </li>
            </ul>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <app-middle-content></app-middle-content>
    </div>
    <div class="col-sm-4">
        <app-side-bar></app-side-bar>
      </div>
  </div>
</app-layout>